@media only screen and (max-width:991px) {

    .service-img,
    .about-img {
        margin-bottom: 15px;
        margin-top: 5px;
    }
}

@media only screen and (max-width:580px) {
    
    .top-contact{
        z-index: 0;
    }
    .navbar-toggler{
        z-index: 20;
    }
    .navbar-collapse {
        position: absolute;
        top: 80px;
        background: #fbf8fcc2;
        left: 0px;
        right: 0px;
        padding: 10px 20px;
        text-align: center;
        z-index: 10;
    }

    .navbar-brand img {
        height: 65px;
    }

    .hero-section h1 {
        font-size: 40px;
    }
    .hero-section h2{
        font-size: 22px;
    }

    .heading-main {
        font-size: 24px;
    }

    .tag-heading {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }

    .service-img,
    .about-img {
        height: 370px;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .expert-icon {
        height: 30px;
        width: 30px;
        font-size: 16px;
    }

    .heading-tertiary {
        font-size: 18px;
    }
}